Cutouts_atlite/Laos1Y.nc
Cutouts_atlite/Laos2Y.nc
Cutouts_atlite/Laos3Y.nc
Cutouts_atlite/Laos4Y.nc
Cutouts_atlite/Laos5AVG.nc
Cutouts_atlite/Laos5Y.nc
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.dbf
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.gpkg
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.prj
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.shp
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.shx
Data_25/hydropower_dams_25.gpkg
Data_25/Laos_hex_final_25.geojson
Data_30/hydropower_dams_30.gpkg
Data_30/Laos_hex_final_30.geojson
Cutouts_actual/capacity_factors_dry_2025.nc
Cutouts_actual/capacity_factors_dry_2030.nc
Cutouts_actual/capacity_factors_wet_2025.nc
Cutouts_actual/capacity_factors_wet_2030.nc
