Cutouts_atlite/Laos1Y.nc
Cutouts_atlite/Laos2Y.nc
Cutouts_atlite/Laos3Y.nc
Cutouts_atlite/Laos4Y.nc
Cutouts_atlite/Laos5AVG.nc
Cutouts_atlite/Laos5Y.nc
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.dbf
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.gpkg
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.prj
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.shp
Data_hydrobasins/hydrobasins_lvl10/hybas_as_lev10_v1c.shx
Cutouts_actual/capacity_factors_dry_2025.nc
Cutouts_actual/capacity_factors_dry_2030.nc
Cutouts_actual/capacity_factors_wet_2025.nc
Cutouts_actual/capacity_factors_wet_2030.nc
Data_25/hex_final_25.geojson
Data_25/hexagons_with_country.geojson
Data_25/hydropower_dams_25.gpkg
Data_30/hex_final_30.geojson
Data_30/hexagons_with_country.geojson
Data_30/hydropower_dams_30.gpkg
Parameters_ALK_25/hex_transport.geojson
Cutouts_atlite/Laos5AVG_pv.nc
Cutouts_atlite/Laos5AVG_Runoff.nc
Cutouts_atlite/Laos5AVG_wind.nc
Parameters_ALK_25/demand_parameters.xlsx
Resources/Scenario_dry_ALK_25/Archive/hex_cost_components.csv
Resources/Scenario_dry_ALK_25/Archive/hex_cost_components.geojson
Resources/Scenario_dry_ALK_25/Archive/hex_lcoh.geojson
Resources/Scenario_dry_ALK_25/Archive/hex_total_cost.geojson
Resources/Scenario_dry_ALK_25/Archive/hex_water.geojson
Resources/Scenario_dry_ALK_25/Visualisation/visualisation_lowest_cost.png
Parameters_PEM_25/demand_parameters.xlsx
Parameters_PEM_25/hex_transport.geojson
Parameters_PEM_30/demand_parameters.xlsx
Parameters_PEM_30/hex_transport.geojson
Resources/Scenario_dry_ALK_25/hex_cost_components.csv
Resources/Scenario_dry_ALK_25/hex_cost_components.geojson
Resources/Scenario_dry_ALK_25/hex_lcoh.geojson
Resources/Scenario_dry_ALK_25/hex_total_cost.geojson
Resources/Scenario_dry_ALK_25/hex_water.geojson
Resources/Scenario_dry_ALK_25/Archive_forecast_demand/hex_cost_components.csv
Resources/Scenario_dry_ALK_25/Archive_forecast_demand/hex_cost_components.geojson
Resources/Scenario_dry_ALK_25/Archive_forecast_demand/hex_lcoh.geojson
Resources/Scenario_dry_ALK_25/Archive_forecast_demand/hex_total_cost.geojson
Resources/Scenario_dry_ALK_25/Archive_forecast_demand/hex_water.geojson
Resources/Scenario_dry_PEM_25/hex_lcoh.geojson
Resources/Scenario_dry_PEM_30/hex_lcoh.geojson
Parameters_PEM_25/demand_parameters.xlsx
Parameters_PEM_30/demand_parameters.xlsx
Parameters_PEM_25/demand_parameters.xlsx
Parameters_PEM_30/demand_parameters.xlsx
Parameters_PEM_30/demand_parameters.xlsx
Parameters_PEM_25/demand_parameters.xlsx
Parameters_PEM_25/demand_parameters.xlsx
Parameters_PEM_30/demand_parameters.xlsx
Resources/Scenario_dry_PEM_30/hex_cost_components.csv
Resources/Scenario_dry_PEM_30/hex_cost_components.geojson
Resources/Scenario_dry_PEM_30/hex_total_cost.geojson
Resources/Scenario_dry_PEM_30/hex_water.geojson
Parameters/zone_profiles.pkl
Parameters_ALK_30/hex_transport.geojson
optimize_transport_and_conversion-Lukas_ThinkPad.py
optimize_hydrogen_plant_actual-Lukas_ThinkPad.py
Resources/Scenario_dry_ALK_30/hex_lcoh.geojson
Resources/Scenario_wet_PEM_25/hex_lcoh.geojson
Parameters/zone_profiles_25.pkl
Parameters/zone_profiles_30.pkl
Parameters/areas_laos.geojson
Resources/Scenario_wet_ALK_25/hex_lcoh.geojson
Resources/Scenario_wet_PEM_30/hex_lcoh.geojson
optimize_hydrogen_plant_atlite-Lukas_ThinkPad.py
Resources/Scenario_wet_ALK_30/hex_lcoh.geojson
Resources/Scenario_dry_ALK_30/hex_cost_components.csv
Resources/Scenario_dry_ALK_30/hex_cost_components.geojson
Resources/Scenario_dry_ALK_30/hex_total_cost.geojson
Resources/Scenario_dry_ALK_30/hex_water.geojson
Resources/Scenario_dry_PEM_25/hex_cost_components.csv
Resources/Scenario_dry_PEM_25/hex_cost_components.geojson
Resources/Scenario_dry_PEM_25/hex_total_cost.geojson
Resources/Scenario_dry_PEM_25/hex_water.geojson
Resources/Scenario_wet_ALK_25/hex_cost_components.csv
Resources/Scenario_wet_ALK_25/hex_cost_components.geojson
Resources/Scenario_wet_ALK_25/hex_total_cost.geojson
Resources/Scenario_wet_ALK_25/hex_water.geojson
Resources/Scenario_wet_ALK_30/hex_cost_components.csv
Resources/Scenario_wet_ALK_30/hex_cost_components.geojson
Resources/Scenario_wet_ALK_30/hex_total_cost.geojson
Resources/Scenario_wet_ALK_30/hex_water.geojson
Resources/Scenario_wet_PEM_25/hex_cost_components.csv
Resources/Scenario_wet_PEM_25/hex_cost_components.geojson
Resources/Scenario_wet_PEM_25/hex_total_cost.geojson
Resources/Scenario_wet_PEM_25/hex_water.geojson
Resources/Scenario_wet_PEM_30/hex_cost_components.csv
Resources/Scenario_wet_PEM_30/hex_cost_components.geojson
Resources/Scenario_wet_PEM_30/hex_total_cost.geojson
Resources/Scenario_wet_PEM_30/hex_water.geojson
Resources/Scenario_atlite_ALK_25/hex_cost_components.csv
Resources/Scenario_atlite_ALK_25/hex_cost_components.geojson
Resources/Scenario_atlite_ALK_25/hex_lcoh.geojson
Resources/Scenario_atlite_ALK_25/hex_total_cost.geojson
Resources/Scenario_atlite_ALK_25/hex_water.geojson
3costs_by_component copy.py
Resources/Scenario_atlite_PEM_25/hex_lcoh.geojson
Resources/net_generation/Scenario_dry_ALK_25/hex_cost_components.csv
Resources/net_generation/Scenario_dry_ALK_25/hex_cost_components.geojson
Resources/net_generation/Scenario_dry_ALK_25/hex_lcoh.geojson
Resources/net_generation/Scenario_dry_ALK_25/hex_total_cost.geojson
Resources/net_generation/Scenario_dry_ALK_25/hex_water.geojson
Resources/net_generation/Scenario_dry_ALK_25/Archive_forecast_demand/hex_cost_components.csv
Resources/net_generation/Scenario_dry_ALK_25/Archive_forecast_demand/hex_cost_components.geojson
Resources/net_generation/Scenario_dry_ALK_25/Archive_forecast_demand/hex_lcoh.geojson
Resources/net_generation/Scenario_dry_ALK_25/Archive_forecast_demand/hex_total_cost.geojson
Resources/net_generation/Scenario_dry_ALK_25/Archive_forecast_demand/hex_water.geojson
Resources/net_generation/Scenario_dry_ALK_25/Visualisation/visualisation_lowest_cost.png
Resources/net_generation/Scenario_dry_ALK_30/hex_cost_components.csv
Resources/net_generation/Scenario_dry_ALK_30/hex_cost_components.geojson
Resources/net_generation/Scenario_dry_ALK_30/hex_lcoh.geojson
Resources/net_generation/Scenario_dry_ALK_30/hex_total_cost.geojson
Resources/net_generation/Scenario_dry_ALK_30/hex_water.geojson
Resources/net_generation/Scenario_dry_PEM_25/hex_cost_components.csv
Resources/net_generation/Scenario_dry_PEM_25/hex_cost_components.geojson
Resources/net_generation/Scenario_dry_PEM_25/hex_lcoh.geojson
Resources/net_generation/Scenario_dry_PEM_25/hex_total_cost.geojson
Resources/net_generation/Scenario_dry_PEM_25/hex_water.geojson
Resources/net_generation/Scenario_dry_PEM_30/hex_cost_components.csv
Resources/net_generation/Scenario_dry_PEM_30/hex_cost_components.geojson
Resources/net_generation/Scenario_dry_PEM_30/hex_lcoh.geojson
Resources/net_generation/Scenario_dry_PEM_30/hex_total_cost.geojson
Resources/net_generation/Scenario_dry_PEM_30/hex_water.geojson
Resources/net_generation/Scenario_wet_ALK_25/hex_cost_components.csv
Resources/net_generation/Scenario_wet_ALK_25/hex_cost_components.geojson
Resources/net_generation/Scenario_wet_ALK_25/hex_lcoh.geojson
Resources/net_generation/Scenario_wet_ALK_25/hex_total_cost.geojson
Resources/net_generation/Scenario_wet_ALK_25/hex_water.geojson
Resources/net_generation/Scenario_wet_ALK_30/hex_cost_components.csv
Resources/net_generation/Scenario_wet_ALK_30/hex_cost_components.geojson
Resources/net_generation/Scenario_wet_ALK_30/hex_lcoh.geojson
Resources/net_generation/Scenario_wet_ALK_30/hex_total_cost.geojson
Resources/net_generation/Scenario_wet_ALK_30/hex_water.geojson
Resources/net_generation/Scenario_wet_PEM_25/hex_cost_components.csv
Resources/net_generation/Scenario_wet_PEM_25/hex_cost_components.geojson
Resources/net_generation/Scenario_wet_PEM_25/hex_lcoh.geojson
Resources/net_generation/Scenario_wet_PEM_25/hex_total_cost.geojson
Resources/net_generation/Scenario_wet_PEM_25/hex_water.geojson
Resources/net_generation/Scenario_wet_PEM_25/Original/hex_cost_components.csv
Resources/net_generation/Scenario_wet_PEM_25/Original/hex_cost_components.geojson
Resources/net_generation/Scenario_wet_PEM_25/Original/hex_lcoh.geojson
Resources/net_generation/Scenario_wet_PEM_25/Original/hex_total_cost.geojson
Resources/net_generation/Scenario_wet_PEM_25/Original/hex_water.geojson
Resources/net_generation/Scenario_wet_PEM_30/hex_cost_components.csv
Resources/net_generation/Scenario_wet_PEM_30/hex_cost_components.geojson
Resources/net_generation/Scenario_wet_PEM_30/hex_lcoh.geojson
Resources/net_generation/Scenario_wet_PEM_30/hex_total_cost.geojson
Resources/net_generation/Scenario_wet_PEM_30/hex_water.geojson
Resources/net_generation/Scenario_atlite_ALK_25/hex_cost_components.csv
Resources/net_generation/Scenario_atlite_ALK_25/hex_cost_components.geojson
Resources/net_generation/Scenario_atlite_ALK_25/hex_lcoh.geojson
Resources/net_generation/Scenario_atlite_ALK_25/hex_total_cost.geojson
Resources/net_generation/Scenario_atlite_ALK_25/hex_water.geojson
Resources/Scenario_atlite_PEM_25/hex_total_cost.geojson
Resources/Scenario_atlite_PEM_25/hex_water.geojson
3costs_by_component_both.py
Resources/net_generation/Scenario_atlite_PEM_25/hex_cost_components.csv
Resources/net_generation/Scenario_atlite_PEM_25/hex_cost_components.geojson
Resources/net_generation/Scenario_atlite_PEM_25/hex_lcoh.geojson
Resources/net_generation/Scenario_atlite_PEM_25/hex_total_cost.geojson
Resources/net_generation/Scenario_atlite_PEM_25/hex_water.geojson
Visualisation/net_generation/cost_comparisons/cost_distribution_comparison.png
Cutouts_atlite/Laos5AVG_Runoff_25.nc
Cutouts_atlite/Laos5AVG_Runoff_30.nc
optimize_hydrogen_plant_actual_remote.py
Resources/net_generation/Scenario_atlite_ALK_30/hex_cost_components.csv
Resources/net_generation/Scenario_atlite_ALK_30/hex_cost_components.geojson
Resources/net_generation/Scenario_atlite_ALK_30/hex_lcoh.geojson
Resources/net_generation/Scenario_atlite_ALK_30/hex_total_cost.geojson
Resources/net_generation/Scenario_atlite_ALK_30/hex_water.geojson
Resources/net_generation/Scenario_atlite_PEM_30/hex_cost_components.csv
Resources/net_generation/Scenario_atlite_PEM_30/hex_cost_components.geojson
Resources/net_generation/Scenario_atlite_PEM_30/hex_lcoh.geojson
Resources/net_generation/Scenario_atlite_PEM_30/hex_total_cost.geojson
Resources/net_generation/Scenario_atlite_PEM_30/hex_water.geojson
optimize_hydrogen_plant_atlite_total_tp.py
optimize_hydrogen_plant_atlite_total_remote.py
Resources/Scenario_atlite_ALK_30/hex_lcoh.geojson
Resources/Scenario_atlite_PEM_30/hex_lcoh.geojson
Resources/Scenario_atlite_ALK_30/hex_cost_components.csv
Resources/Scenario_atlite_ALK_30/hex_cost_components.geojson
Resources/Scenario_atlite_ALK_30/hex_total_cost.geojson
Resources/Scenario_atlite_ALK_30/hex_water.geojson
Resources/Scenario_atlite_PEM_25/hex_cost_components.csv
Resources/Scenario_atlite_PEM_25/hex_cost_components.geojson
Resources/Scenario_atlite_PEM_30/hex_cost_components.csv
Resources/Scenario_atlite_PEM_30/hex_cost_components.geojson
Resources/Scenario_atlite_PEM_30/hex_total_cost.geojson
Resources/Scenario_atlite_PEM_30/hex_water.geojson
